linkedin.json
{
  "name": "💼 Rédacteur Linkedin - Discord ✅",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        860,
        -40
      ],
      "id": "trigger-node-id",
      "name": "Déclencheur",
      "notesInFlow": true,
      "notes": "Permet de régler la fréquence de l'exécution du workflow."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "VOTRE_ID_SERVEUR_DISCORD",
          "mode": "list",
          "cachedResultName": "Votre Serveur",
          "cachedResultUrl": "https://discord.com/channels/VOTRE_ID_SERVEUR_DISCORD"
        },
        "channelId": {
          "__rl": true,
          "value": "VOTRE_ID_CHANNEL_DISCORD",
          "mode": "list",
          "cachedResultName": "linkedin",
          "cachedResultUrl": "https://discord.com/channels/VOTRE_ID_SERVEUR_DISCORD/VOTRE_ID_CHANNEL_DISCORD"
        },
        "message": "=Votre publication du jour est prête !\n\nLa voici : \n\n{{ $json.choices[0].message.content }}\n\n\nVoulez vous la publier ? ",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✓ Publier",
            "disapproveLabel": "✗ Ne pas publier"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1640,
        -40
      ],
      "id": "discord-notification-node-id",
      "name": "Notification réponse et question",
      "webhookId": "webhook-id-1",
      "notesInFlow": true,
      "credentials": {
        "discordBotApi": {
          "id": "discord-credentials-id",
          "name": "Discord Bot account"
        }
      },
      "notes": "Notification du post généré via Discord et proposition de publication"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "<votre prompt>"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        -40
      ],
      "id": "openai-node-id",
      "name": "Création du contenu",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials-id",
          "name": "OpenAi account"
        }
      },
      "notes": "Utilisation du modèle 3.5 Turbo de OpenAI pour générer le contenu.\n\nLe prompt est customisable à souhait. Veiller juste à maintenant les variables associée au sujet et au statut"
    },
    {
      "parameters": {
        "person": "linkedin-person-id",
        "text": "={{ $('Création du contenu').item.json.message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2080,
        -260
      ],
      "id": "linkedin-publish-node-id",
      "name": "Publication du post",
      "notesInFlow": true,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-credentials-id",
          "name": "LinkedIn account"
        }
      },
      "notes": "La publication est publiée sur LinkedIn"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-id-1",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        -40
      ],
      "id": "condition-node-id",
      "name": "Condition de publication",
      "notes": "En fonction de votre choix, le post sera publié ou non"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "VOTRE_ID_SERVEUR_DISCORD",
          "mode": "list",
          "cachedResultName": "Votre Serveur",
          "cachedResultUrl": "https://discord.com/channels/VOTRE_ID_SERVEUR_DISCORD"
        },
        "channelId": {
          "__rl": true,
          "value": "VOTRE_ID_CHANNEL_DISCORD",
          "mode": "list",
          "cachedResultName": "linkedin",
          "cachedResultUrl": "https://discord.com/channels/VOTRE_ID_SERVEUR_DISCORD/VOTRE_ID_CHANNEL_DISCORD"
        },
        "content": "La publication n'a pas été publiée",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2120,
        200
      ],
      "id": "discord-cancel-node-id",
      "name": "Notification annulation",
      "webhookId": "webhook-id-2",
      "notesInFlow": true,
      "credentials": {
        "discordBotApi": {
          "id": "discord-credentials-id",
          "name": "Discord Bot account"
        }
      },
      "notes": "Notification que la réponse n'a pas été envoyée"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "VOTRE_ID_SERVEUR_DISCORD",
          "mode": "list",
          "cachedResultName": "Votre Serveur",
          "cachedResultUrl": "https://discord.com/channels/VOTRE_ID_SERVEUR_DISCORD"
        },
        "channelId": {
          "__rl": true,
          "value": "VOTRE_ID_CHANNEL_DISCORD",
          "mode": "list",
          "cachedResultName": "linkedin",
          "cachedResultUrl": "https://discord.com/channels/VOTRE_ID_SERVEUR_DISCORD/VOTRE_ID_CHANNEL_DISCORD"
        },
        "content": "La publication a bien été postée !",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2560,
        -260
      ],
      "id": "discord-success-node-id",
      "name": "Notification publication",
      "webhookId": "webhook-id-3",
      "notesInFlow": true,
      "credentials": {
        "discordBotApi": {
          "id": "discord-credentials-id",
          "name": "Discord Bot account"
        }
      },
      "notes": "Notification sur Discord que la publication a bien été postée"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "VOTRE_BASE_AIRTABLE_ID",
          "mode": "list",
          "cachedResultName": "LIGNE EDITORIAL",
          "cachedResultUrl": "https://airtable.com/VOTRE_BASE_AIRTABLE_ID"
        },
        "table": {
          "__rl": true,
          "value": "VOTRE_TABLE_AIRTABLE_ID",
          "mode": "list",
          "cachedResultName": "VOTRE_TABLE",
          "cachedResultUrl": "https://airtable.com/VOTRE_BASE_AIRTABLE_ID/VOTRE_TABLE_AIRTABLE_ID"
        },
        "filterByFormula": "{Statut} = \"GO\"",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "STATUT"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1080,
        160
      ],
      "id": "airtable-search-node-id",
      "name": "Planning de publications - Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials-id",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "VOTRE_ID_DOCUMENT_GOOGLE_SHEET",
          "mode": "list",
          "cachedResultName": "LINKEDIN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/VOTRE_ID_DOCUMENT_GOOGLE_SHEET/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/VOTRE_ID_DOCUMENT_GOOGLE_SHEET/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUT",
              "lookupValue": "GO"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        -200
      ],
      "id": "google-sheets-search-node-id",
      "name": "Planning de publication - Google",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials-id",
          "name": "Google Sheets account"
        }
      },
      "notes": "Contient l'ensemble des sujets et thématiques qui seront utilisé comme ressources de publication."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "VOTRE_ID_DOCUMENT_GOOGLE_SHEET",
          "mode": "list",
          "cachedResultName": "LINKEDIN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/VOTRE_ID_DOCUMENT_GOOGLE_SHEET/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/VOTRE_ID_DOCUMENT_GOOGLE_SHEET/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUT": "DONE",
            "SUJET": "={{ $('Planning de publication - Google').item.json.SUJET }}"
          },
          "matchingColumns": [
            "SUJET"
          ],
          "schema": [
            {
              "id": "SUJET",
              "displayName": "SUJET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "STATUT",
              "displayName": "STATUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2300,
        -440
      ],
      "id": "google-sheets-update-node-id",
      "name": "Mise à jour du statut - Google",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials-id",
          "name": "Google Sheets account"
        }
      },
      "notes": "Le statut de la publication passe de 'GO' à 'DONE'"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "VOTRE_BASE_AIRTABLE_ID",
          "mode": "list",
          "cachedResultName": "LIGNE EDITORIAL",
          "cachedResultUrl": "https://airtable.com/VOTRE_BASE_AIRTABLE_ID"
        },
        "table": {
          "__rl": true,
          "value": "VOTRE_TABLE_AIRTABLE_ID",
          "mode": "list",
          "cachedResultName": "VOTRE_TABLE",
          "cachedResultUrl": "https://airtable.com/VOTRE_BASE_AIRTABLE_ID/VOTRE_TABLE_AIRTABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUT": "DONE",
            "SUJET": "={{ $('Planning de publications - Airtable').item.json.SUJET }}",
            "PUBLICATION": "={{ $('Création du contenu').item.json.message.content }}"
          },
          "matchingColumns": [
            "SUJET"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SUJET",
              "displayName": "SUJET",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STATUT",
              "displayName": "STATUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PUBLICATION",
              "displayName": "PUBLICATION",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2300,
        -160
      ],
      "id": "airtable-update-node-id",
      "name": "Mise à jour du statut - Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials-id",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Déclencheur": {
      "main": [
        [
          {
            "node": "Planning de publications - Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification réponse et question": {
      "main": [
        [
          {
            "node": "Condition de publication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Création du contenu": {
      "main": [
        [
          {
            "node": "Notification réponse et question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publication du post": {
      "main": [
        [
          {
            "node": "Mise à jour du statut - Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condition de publication": {
      "main": [
        [
          {
            "node": "Publication du post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notification annulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning de publications - Airtable": {
      "main": [
        [
          {
            "node": "Création du contenu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning de publication - Google": {
      "main": [
        []
      ]
    },
    "Mise à jour du statut - Google": {
      "main": [
        []
      ]
    },
    "Mise à jour du statut - Airtable": {
      "main": [
        [
          {
            "node": "Notification publication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "instance-id-anonymized"
  },
  "tags": []
}
